
.backgroundimag1 {
    background-image: url(https://www.w3schools.com/w3images/parallax1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 1000px;
    opacity: 0.75;
    box-sizing: inherit;
    position: relative;

}

.portfolio-section-image {
  background-image: url(https://www.w3schools.com/w3images/parallax2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 500px;
  opacity: 0.75;
  

}

.contact-section-image {
    background-image: url(https://www.w3schools.com/w3images/parallax3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
    opacity: 0.75;
 
}

.contact {
  position: relative;
  bottom: 300px;
}

.contact h2 {
  text-transform: uppercase;
  font-size: 900;
  letter-spacing: 1rem;
  color: white;
}



.portfolio {
  position: relative;
  bottom: 300px;
}

.portfolio h2 {
  text-transform: uppercase;
  font-size: 900;
  letter-spacing: 1rem;
  color: white;

}


.weblogo {
    position: absolute;
    top: 39%;
    left: 35%;
    text-align: center;
    letter-spacing: .2rem;
    color: rgb(159, 184, 16);
    z-index: 1;
    
  }
.weblogo h3 {
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase; 
    text-shadow: black;   
}

.weblogo h4 {
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow: black;    
}

.navbar {
  background : rgba(0, 0, 0, 0.3)!important;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  
}


.about {
  padding-top: 5rem;
  padding-bottom: 1.5rem;
}

.i-love{
  padding-bottom: 1rem;
}
.first-para {
  letter-spacing: .1rem;

}

.second-para {
  padding-top: 2rem;
  letter-spacing: .1rem;
} 

.good-at {
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.name {
  margin-top: 2rem;
}

.photo {
  margin-top: 3rem;
  padding-left: 9rem;
  
  
}

.fa-image {
  margin-top: 2rem;
}

.fa-desktop {
  margin-top: 2rem;
}

.fa-camera {
  margin-top: 2rem;
}

.dark-row {
  margin-top: 4rem;
  background: black;
  height: 7rem;
  padding-top: 2rem ;
}

.bottom-background {
  background-color: black;
  height: 300px;
  position: relative;
}



.img-fluid {
  height: 150px;
  width: 300px;

}

.to-top {
  padding-top: 5rem;

}

.social-bottom {
  margin-top: 5rem;
  
}

.social-bottom a {
  padding-left: .9rem;
  font-size: 2rem;
}



  
